# Auto-detect text files and perform LF normalization
* text=auto

# Force these files to use Linux line endings (LF)
*.dart text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.json text eol=lf
.gitattributes text eol=lf
.gitignore text eol=lf

# Keep images as binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary